<mat-card>
    <h2>Contact Us</h2>

    <form>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <mat-checkbox>Send me promotional emails</mat-checkbox>

        <button type="button" mat-raised-button color="primary">Send</button>
    </form>
</mat-card>